.loadingPage {
  @include full-page;
  @include container-center-column;
  background-color:grey;

  .loadingPage_text{
    font-size: $title;
    text-align: center;
  }
}

.ryuImg_container-hidden{
  display: none;
}

.ryuImg_container{
  @include full-page;
  @include container-center-column;
}
