// Sur Tablette et smaller devices < 768px
@media screen and (max-width:768px){
  header{
    text-align: center;
  }

  .menu_itemsContainer{
    display: none;
  }
  .menu_mobile{
    width: $full;
    transition: all 0.5s ease;
  }
  .menu_item-mobile{
    height: 0;
    // visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .menu_item-mobile-open{
    // visibility: visible;
    opacity: 1;
    height: 25px;
    padding: 5px;
    width: $full;
    transition: all 0.5s ease-in-out;
  }
  .footer_contentDivs{
    width: $full;
  }
  .footer_contentText{
    float: none;
  }
}



// Sur ecran > tablette 768px
@media screen and (min-width:769px) {
  .menu_mobile{
    display: none !important;
  }
  .menu_item{
    display:inline;
  }
  .footer_contentDivs{
    width: $full/2;
  }
  .footer_contentText{
    float: right;
  }
}
