// Sur Tablette et smaller devices < 768px
@media screen and (max-width:768px){
// Adapte la taille du logo a l'ecran
  .header_img{
    height: 12vh;
  }
  // Masque le titre de la page
  .header_titleContainer{
    display: none;
  }
  // Retire l'effet de hover sur le menu
  .menu:hover{
    background-color: black;
  }
  // Masque le menu desktop
  .menu_itemsContainer{
    display: none;
  }
  // Pour la transition d'ouverture du menu mobile
  .menu_mobile{
    width: $full;
    transition: all 0.5s ease;
  }
  .menu_item-mobile{
    height: 0;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .menu_item-mobile-open{
    // visibility: visible;
    opacity: 1;
    height: 25px;
    padding: 5px;
    width: $full;
    transition: all 0.5s ease-in-out;
  }
  // Fait passer les div du footer l'une en dessous de l'autre
  .footer_contentDivs{
    width: $full;
    .footer_contentText{
      float: none;
    }
  }
}



// Sur ecran > tablette 768px
@media screen and (min-width:769px) {
// Place le titre de la page a cote du logo
  .header_titleContainer{
    float: right;
    padding: 20px 0;
  }
  // defini la taille du logo sur desktop
  .header_img{
    width: 100px;
  }
  .menu:hover{
    background-color: lightgrey;
  }
  // Masque le menu mobile
  .menu_mobile{
    display: none !important;
  }
  .menu_item{
    display:inline;
  }
  // Defini la taille des div du footer
  .footer_contentDivs{
    width: $full/2;
  }
  .footer_contentText{
    float: right;
  }
}
