/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";
@import "variables";
@import "mixins";
@import "compass/css3";
@import "colors";
@import "loadingpage";
@import url(https://fonts.googleapis.com/css?family=Exo:400,700);

// Font à appliquer sur toute la page
body{
  font-family: $main;
}

// Positionnement et taille de font du header
header{
  @include container-center-row;
  flex-wrap: wrap;
  align-items: center;
// Propriétés  du texte du header
  .header_title{
    font-size: $title;
    margin-bottom: 10px;
  }
  // Taille de l'image du header
  .header_img{
    width: 100px;
    margin: 10px;
  }
}
