/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";
@import "variables";
@import "mixins";
@import "colors";
@import "mediaqueries";
@import "loadingpage";
@import url(https://fonts.googleapis.com/css?family=Exo:400,700);

// Font à appliquer sur toute la page
a{
  color: white;
  &:hover{
    color: white;
    text-decoration: none;
  }
}
body{
  font-family: $main;
}
.content{
  display: none;
}

// Positionnement et taille de font du header
header{
  @include container-center-row;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
// Propriétés  du texte du header
  .header_title{
    font-size: $title;
    margin-bottom: 10px;
  }
  // Taille de l'image du header
  .header_img{
    width: 100px;
    margin: 0 10px;
  }
}
// Propriétés de la navbar
.menu{
  width: $full;
  padding: 10px 0;
  .menu_itemsContainer{
    text-align: center;
  }
  .menu_mobile{
    text-align: center;
    position: relative;
    .menu_mobileIcon{
      font-size: 1.5em;
    }
    .menu_item-mobile{
      background:rgba(0,0,0,0.7)
    }
  }
}

.menu_item{
  padding: 0 10px;
  border-right: 1px solid white;
}
.menu_item:last-of-type{
  border: none;
}

// Propriétés du contenu principal:
.main_container{
  width: $full;
  padding: 40px;
  margin: 0;
  background-color: lightblue;
  .main_slider{
    height: $slider-height;
    background-color: blue;
    padding: 0;
    position: relative;
  }
  .main_slide{
    width: $full;
    height: $slider-height;
    padding: 0;
    display: flex;
    position: absolute;
    overflow: hidden;
  }
  .main_slide-1{
    background: url('../../img/jumpman-air-jordan-photo-shoot-poster.jpg') no-repeat center / cover;
    .main_slide-1-textContainer{
      @include container-center-row;
      width: $full;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      font-size: 0.8em;
      color: white;
      background-color: lightgrey;
      align-self: flex-end;

    }
  }

}
// Container du contenu(le slider)


footer{
  width: $full;
  @include container-center-column;
  .footer_header{
    width: $full;
    @include container-center-row;
    .footer_headerText{
      font-size: $regular / 1.5;
      padding: 5px;
    }
  }
  .footer_content{
    height: 200px;
    background-color: red;
  }
}
