/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";
@import "variables";
@import "mixins";
@import "colors";
@import "mediaqueries";
@import "loadingpage";
@import "inputstyle";
@import url(https://fonts.googleapis.com/css?family=Exo:400,700);

// Font à appliquer sur toute la page
a, a:hover, a:after{
  color: white;
  text-decoration: none;
}
body{
  font-family: $main;
}
.loadingPage_logo{
  width: 20%;
}

.content{
  display: none;
}

// Positionnement et taille de font du header
header{
  height: 15vh;
  position: relative;
  @include container-center-row;
  // Positionnement du container des elements du header
  .header_container{
    @include centerIE;
    width: 850px;
    height: 70%;
    @include container-center-row;
    align-items: center;
    flex-wrap: wrap;
    // Taille de l'image du header
    .header_img{
      margin: 0 10px;
    }
    // Taille du texte du header
    .header_title{
      font-size: $title;
      margin-bottom: 2%;
    }
  }
}
// Propriétés de la navbar
.menu{
  width: $full;
  padding: 10px 0;
  .menu_itemsContainer{
    text-align: center;
  }
  .menu_mobile{
    text-align: center;
    position: relative;
    .menu_mobileIcon{
      font-size: 1.5em;
    }
  }
}

.menu_item{
  padding: 0 10px;
  border-right: 1px solid white;
}
.menu_item:last-of-type{
  border: none;
}

// Propriétés du contenu principal:
main{
  padding: 3%;
  .container, .carousel-inner, .slide_content, .item{
    height: $slider-height;
    padding: 0;
    .carousel-inner{
      background: rgba(0,0,0,0.7);
      .item{
        width: $full;
      }
      .item-1{
        background: url(../../img/jumpman-air-jordan-photo-shoot-poster.jpg) no-repeat center / cover;
      }
      .item-3{
        background-color: white;
        padding: 10% 0;
        position: relative;
        .slide_content{
          height: $full;
          @include centerIE;
        }
      }
    }
  }
}
.row{
margin: 0;
}


footer{
  width: $full;
  .footer_header{
    width: $full;
    .footer_headerText{
      font-size: $regular / 1.5;
      padding: 5px;
      text-align: center;
    }
  }
  .footer_content{
    width: $full;
    .footer_contentImg{
      background: url(../../img/635977562108560005-679443365_kobe.jpg) no-repeat top / cover;
      height: 250px;
    }
    .footer_contentText{
      padding: 20px;
      .footer_contentTitle{
        margin-bottom: 10px;
        font-size: $title / 1.5;
        font-weight: 700;
      }
    }
  }
}
