/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Exo:400,700);
/* line 5, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_colors.scss */
body {
  background-color: white;
}

/* line 5, ../sass/_colors.scss */
.header_subTitle {
  color: lightgrey;
}

/* line 9, ../sass/_colors.scss */
.menu {
  color: white;
  background-color: black;
}

/* line 13, ../sass/_colors.scss */
.carousel-inner {
  background: rgba(0, 0, 0, 0.7);
}

/* line 16, ../sass/_colors.scss */
.item-2, .item-3 {
  background-color: white;
}

/* line 19, ../sass/_colors.scss */
.item-2_content {
  background-color: black;
}

/* line 23, ../sass/_colors.scss */
.footer_header {
  background-color: black;
  color: white;
}
/* line 26, ../sass/_colors.scss */
.footer_header:hover {
  background-color: #DD6C6C;
}

@media screen and (max-width: 768px) {
  /* line 3, ../sass/_mediaqueries.scss */
  .header_img {
    height: 12vh;
  }

  /* line 6, ../sass/_mediaqueries.scss */
  .header_titleContainer {
    display: none;
  }

  /* line 9, ../sass/_mediaqueries.scss */
  .menu:hover {
    background-color: black;
  }

  /* line 12, ../sass/_mediaqueries.scss */
  .menu_itemsContainer {
    display: none;
  }

  /* line 15, ../sass/_mediaqueries.scss */
  .menu_mobile {
    width: 100%;
    transition: all 0.5s ease;
  }

  /* line 19, ../sass/_mediaqueries.scss */
  .menu_item-mobile {
    height: 0;
    opacity: 0;
    transition: all 0.5s ease;
  }

  /* line 24, ../sass/_mediaqueries.scss */
  .menu_item-mobile-open {
    opacity: 1;
    height: 25px;
    padding: 5px;
    width: 100%;
    transition: all 0.5s ease-in-out;
  }

  /* line 32, ../sass/_mediaqueries.scss */
  .footer_contentDivs {
    width: 100%;
  }
  /* line 34, ../sass/_mediaqueries.scss */
  .footer_contentDivs .footer_contentText {
    float: none;
  }
}
@media screen and (min-width: 769px) {
  /* line 44, ../sass/_mediaqueries.scss */
  .header_titleContainer {
    float: right;
    padding: 20px 0;
  }

  /* line 48, ../sass/_mediaqueries.scss */
  .header_img {
    width: 100px;
  }

  /* line 51, ../sass/_mediaqueries.scss */
  .header_title {
    font-size: 2em;
  }

  /* line 54, ../sass/_mediaqueries.scss */
  .menu:hover {
    background-color: lightgrey;
  }

  /* line 57, ../sass/_mediaqueries.scss */
  .menu_mobile {
    display: none !important;
  }

  /* line 60, ../sass/_mediaqueries.scss */
  .menu_item {
    display: inline;
  }

  /* line 63, ../sass/_mediaqueries.scss */
  .footer_contentDivs {
    width: 50%;
  }

  /* line 66, ../sass/_mediaqueries.scss */
  .footer_contentImg {
    float: left;
  }

  /* line 69, ../sass/_mediaqueries.scss */
  .footer_contentText {
    float: right;
  }
}
/* line 1, ../sass/_loadingpage.scss */
.loadingPage {
  width: 100%;
  height: 100vh;
  background-color: grey;
  position: relative;
}
/* line 6, ../sass/_loadingpage.scss */
.loadingPage .loadingPage_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* line 9, ../sass/_loadingpage.scss */
.loadingPage .loadingPage_content .loadingPage_logo {
  width: 33.33333%;
}
/* line 12, ../sass/_loadingpage.scss */
.loadingPage .loadingPage_content .loadingPage_text {
  font-size: 2em;
  text-align: center;
}
/* line 16, ../sass/_loadingpage.scss */
.loadingPage .loadingPage_content .loadingPage_text-indice {
  font-size: 1em;
  margin: 10px 0;
  text-align: center;
}

/* line 24, ../sass/_loadingpage.scss */
.ryuImg_container-hidden {
  display: none;
}

/* line 28, ../sass/_loadingpage.scss */
.ryuImg_container {
  width: 100%;
  height: 100vh;
}
/* line 30, ../sass/_loadingpage.scss */
.ryuImg_container .ryuImg {
  width: 100%;
  height: 100vh;
}

/* line 1, ../sass/_inputStyle.scss */
.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 350px;
  width: calc(100% - 2em);
  vertical-align: middle;
}

/* line 10, ../sass/_inputStyle.scss */
.input__field--minoru {
  width: 100%;
  background: #ff f;
  box-shadow: 0px 0px 0px 2px transparent;
  color: #8A9ED8;
  transition: box-shadow 0.3s;
}

/* line 18, ../sass/_inputStyle.scss */
.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  color: #aaa;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
  z-index: 10;
  width: 100%;
  background: transparent;
  color: #f5f5f5;
  opacity: 0;
  transition: opacity 0.3s;
}

/* line 37, ../sass/_inputStyle.scss */
.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  font-size: 90.25%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  user-select: none;
}

/* line 51, ../sass/_inputStyle.scss */
.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

/* line 57, ../sass/_inputStyle.scss */
.input__field:focus {
  outline: none;
}

/* line 61, ../sass/_inputStyle.scss */
.input__label {
  position: relative;
  width: 100%;
  color: #D0D6D6;
  text-align: left;
}

/* line 68, ../sass/_inputStyle.scss */
.input__label::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 4em;
  background: #8A9ED8;
  transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
  transform-origin: 50% 100%;
  transition: transform 0.3s;
}

/* line 81, ../sass/_inputStyle.scss */
.input__label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.25em;
  background: #D0D6D6;
  transform-origin: 50% 0%;
  transition: transform 0.3s;
}

/* line 93, ../sass/_inputStyle.scss */
.input__label-content {
  padding: 0.75em 0;
}

/* line 97, ../sass/_inputStyle.scss */
.input__field:focus,
.input--filled .input__field {
  opacity: 1;
  transition-delay: 0.3s;
}

/* line 103, ../sass/_inputStyle.scss */
.input__field:focus + .input__label::before,
.input--filled .input__label::before {
  transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
}

/* line 108, ../sass/_inputStyle.scss */
.input__field:focus + .input__label,
.input--filled .input__label {
  pointer-events: none;
}

/* line 113, ../sass/_inputStyle.scss */
.input__field:focus + .input__label::after,
.input--filled .input__label::after {
  transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
}

/* line 17, ../sass/main.scss */
a, a:hover, a:after {
  color: white;
  text-decoration: none;
}

/* line 21, ../sass/main.scss */
body {
  font-family: "Exo";
}

/* line 24, ../sass/main.scss */
.loadingPage_logo {
  width: 20%;
}

/* line 28, ../sass/main.scss */
.content {
  display: none;
}

/* line 33, ../sass/main.scss */
header {
  height: 15vh;
  position: relative;
  display: flex;
  justify-content: center;
}
/* line 40, ../sass/main.scss */
header .header_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 850px;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/* line 49, ../sass/main.scss */
header .header_container .header_img {
  margin: 0 10px;
}
/* line 53, ../sass/main.scss */
header .header_container .header_title {
  font-size: 2em;
  margin-bottom: 2%;
}

/* line 60, ../sass/main.scss */
.menu {
  width: 100%;
  padding: 10px 0;
}
/* line 63, ../sass/main.scss */
.menu .menu_itemsContainer {
  text-align: center;
}
/* line 66, ../sass/main.scss */
.menu .menu_mobile {
  text-align: center;
  position: relative;
}
/* line 69, ../sass/main.scss */
.menu .menu_mobile .menu_mobileIcon {
  font-size: 1.5em;
}

/* line 75, ../sass/main.scss */
.menu_item {
  padding: 0 10px;
  border-right: 1px solid white;
}

/* line 79, ../sass/main.scss */
.menu_item:last-of-type {
  border: none;
}

/* line 84, ../sass/main.scss */
main {
  padding: 3%;
}
/* line 87, ../sass/main.scss */
main .container, main .carousel-inner, main .slide_content, main .item {
  height: 50vh;
  padding: 0;
}
/* line 92, ../sass/main.scss */
main .item {
  width: 100%;
  position: relative;
}
/* line 97, ../sass/main.scss */
main .item-1 {
  background: url(../../img/jumpman-air-jordan-photo-shoot-poster.jpg) no-repeat center/cover;
}
/* line 100, ../sass/main.scss */
main .item-2_content, main .item-3_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 105, ../sass/main.scss */
.row {
  margin: 0;
}

/* line 110, ../sass/main.scss */
footer {
  width: 100%;
}
/* line 112, ../sass/main.scss */
footer .footer_header {
  width: 100%;
}
/* line 114, ../sass/main.scss */
footer .footer_header .footer_headerText {
  font-size: 0.66667em;
  padding: 5px;
  text-align: center;
}
/* line 120, ../sass/main.scss */
footer .footer_content {
  width: 100%;
}
/* line 122, ../sass/main.scss */
footer .footer_content .footer_contentImg {
  background: url(../../img/635977562108560005-679443365_kobe.jpg) no-repeat top/cover;
  height: 250px;
}
/* line 126, ../sass/main.scss */
footer .footer_content .footer_contentText {
  padding: 20px;
}
/* line 128, ../sass/main.scss */
footer .footer_content .footer_contentText .footer_contentTitle {
  margin-bottom: 10px;
  font-size: 1.33333em;
  font-weight: 700;
}
